$primary: #D40E14;
$body-bg: #E6ECED;
$dark: #127282;
$navbar-light-active-color: #003A43;
$secondary: #F9BA13;
$body-color: #5B2415;

.body {
  font-family: 'Open Sans', sans-serif !important;
}

.form-control {
  border-radius: 2px !important;
}
