<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-light bg-light border-bottom border-dark flex-grow-0">
  <div class="navbar-brand w-100 d-flex align-items-center ">
    <h1 class="ml-3 my-auto flex-grow-1">High Five</h1>
    <img src="../assets/LogoWW.svg" style="max-width: 10vh;max-height: 10vh"
         class="d-inline-block align-top float-right flex-grow-0" alt="">

  </div>
</nav>

<div class="pt-3 flex-grow-1">
  <form [formGroup]="form" (submit)="saveUser()" class="container">
    <div class="form-group form-row">
      <label for="Naam" class="col-form-label col-sm-3 col-6">Naam</label>
      <input formControlName="LastName" id="Naam" class="form-control col-sm-9 col-12" placeholder="Naam"/>

      <label for="Voornaam" class="col-form-label col-sm-3 col-6">Voornaam</label>
      <input formControlName="FirstName" id="Voornaam" class="form-control col-sm-9 col-12" placeholder="Voornaam"/>

    </div>
    <div class="form-group form-row">
      <div class="form-check-inline form-check col-6 offset-sm-3 col-sm-2 justify-content-center">
        <input class="form-check-input" type="radio" name="Sex" id="GeslachtM" value="male"
               formControlName="Sex">
        <label class="form-check-label" for="GeslachtM">
          Man
        </label>
      </div>
      <div class="form-check-inline form-check col-4 col-sm-2 justify-content-center">
        <input class="form-check-input" type="radio" name="Sex" id="GeslachtV" value="female"
               formControlName="Sex">
        <label class="form-check-label" for="GeslachtV">
          Vrouw
        </label>
      </div>

    </div>
    <div class="form-group form-row">
      <label for="Email" class="col-form-label col-sm-3 col-6">Email</label>
      <input formControlName="Email" id="Email" class="form-control col-sm-9 col-12" type="email"
             placeholder="email@domain.com"/>

      <label for="TelefoonNr" class="col-form-label col-sm-3 col-6">TelefoonNr</label>
      <input formControlName="PhoneNumber" id="TelefoonNr" class="form-control col-sm-9 col-12" type="tel"
             placeholder="0489/91.91.16"/>
    </div>
    <div class="form-group form-row">
      <label for="Hoedanigheid" class="col-form-label col-sm-3 col-6">Hoedanigheid</label>
      <select [formControlName]="'UserType'" id="Hoedanigheid" class="form-control col-sm-9 col-12">
        <option value="" disabled selected hidden>Ik ben ...</option>
        <option value="0">Student</option>
        <option value="1">Landmeter</option>
        <option value="2">Overheid</option>
        <option value="3">Prive</option>
        <option value="4">Nutsvoorziening</option>
        <option value="5">Andere</option>
      </select>

      <input *ngIf="form.get('UserType').value==='5'" formControlName="UserTypeOther"
             id="HoedanigheidAndere" class="form-control offset-sm-3 col-sm-9 col-12" placeholder="..."/>

      <label for="Organisatie" class="col-form-label col-sm-3 col-6">Organisatie</label>
      <input formControlName="Organisation" id="Organisatie" class="form-control col-sm-9 col-12" placeholder="Cronos"/>
    </div>
    <div class="form-group form-row">
      <label for="PolsbandNr" class="col-form-label col-sm-3 col-6">PolsbandNr</label>
      <input formControlName="WristBandNumber" id="PolsbandNr" class="form-control col-sm-9 col-12" placeholder="0"/>
    </div>
    <div class="form-group form-row">
      <button type="submit" [disabled]="!form.valid" class="offset-2 col-8 btn btn-block btn-primary">Submit</button>
    </div>
  </form>
</div>
<div class="border-top border-secondary flex-grow-0">
  <div class="bg-dark font-weight-bold text-white px-5 py-3">
    Door ondertekening van dit document gaat ondergetekende uitdrukkelijk akkoord met de wijze waarop
    {{GroepsbedrijfNaam}} de gegevens verzamelt en verwerkt.
    Ondergetekende erkent en aanvaardt dat de door hem/haar bovenvermelde persoonsgegevens door {{GroepsbedrijfNaam}}
    mogen aangewend worden voor commerciële doeleinden.
    {{GroepsbedrijfNaam}} draagt zorg voor de privacy van de deelnemers en handelt hierbij in overeenstemming met de
    toepasselijke wetgeving inzake de verwerking van persoonsgegevens.
  </div>
</div>
